
/* Font Weights */

$light: 100;
$regular: 400;
$bold: 600;

/* header variable */
$header-height: 50px;
$header-hangover: 25px;

/* login variables */
$login-panel-width: 600px;
$login-panel-small: 400px;
$login-logo-width: 100px;